.categoryProductsTitle {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    margin-top: 30px;
}

.categoryProductsTitle::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: linear-gradient(90deg, var(--accent) 0%, rgb(236, 192, 147) 50%, var(--accent) 100%);
    margin: 10px auto 0;
    border-radius: 2px;
}

.searchFilterBar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.noProductsMessage {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin-bottom: 40px;
}